/ {
    aliases {
        i2c0 = &i2c0;
        uart0 = &uart0;
    };

    zephyr,user {
        io-int-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
        led0-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
        btn0-gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
        en-sensor-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
        en-rpu-gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
        soh-alarm-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
        soh-ok-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
        ntc-ain = <1>; /* SAADC AIN1 = P0.03 */
    };
};

&uart0 {
    current-speed = <115200>;
    status = "okay";
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>; /* 400k */
};

/* GPIO default states */
&gpio0 { status = "okay"; };
&gpio1 { status = "okay"; };
